fastapi
uvicorn
python-multipart
pydantic
langchain
langchain-community
langchain-ollama
langchain-chroma
langchain-huggingface
chromadb
fitz
pymupdf
ebooklib
beautifulsoup4
sentence-transformers
flashrank
slowapi
python-magic
